<!DOCTYPE html>
<html>

<head>
	<title>Vue Login Form</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="src/styles.css">
	<style>
		input{
			margin: 10px;
			display: block;

		}
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<login-form/>
	</div>

	<script src="src/index.js"></script>
	<script src="https://unpkg.com/vue@next"></script>
	<script>
		let app= Vue.createApp({
			data : function(){
				return {

				}
			},
			methods:{

			}
		})
		// building a custom vue component for a login form
		app.component('login-form',{
			//change <div> to <form> now , add log-in button and add v-models to capture the data 
			template:` 
			<h1>{{title}}</h1>
			<form @submit.prevent="handleSubmit">
				<input type="email" v-model="email"/>
				<input type="password" v-model="password"/>
				<button>Log In</button>
			</form>`,
			data(){
				return{
					title:'Login-Form',
					email:'',
					password:'',
				}
			},
			methods:{
				handleSubmit(){
					console.log('submited')
					console.log(this.email,this.password)
				}
			}
		})
		app.mount('#app')
		</script>
</body>

</html>